# Core data and database
pandas
sqlalchemy
openpyxl

# PII Detection Libraries
# spaCy and its default model
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz

# Stanza
stanza

# Flair
flair
torch

# HuggingFace Transformers (for BERT)
transformers
torch

# Spark NLP (requires Java 8 or 11)
pyspark==3.3.1
spark-nlp==4.2.4
